<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href= "body-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="parallax">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Latitude</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Plots <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('temperature') }}">Max Temp</a></li>
            <li><a href="{{ url_for('humidity') }}">Humidity</a></li>
            <li><a href="{{ url_for('cloudiness') }}">Cloudiness</a></li>
            <li><a href="{{ url_for('windSpeed') }}">Wind Speed</a></li>
          </ul>
        </li>
        <li class="active"><a href="{{ url_for('comparisson') }}">Comparisson</a></li>
        <li><a href="{{ url_for('data') }}">Data</a></li>
      </ul>
    </div>
  </nav>

<div class="container-fluid">
<div class="row">
  <div class="col-lg-7 col-md-12">

    <div class="box">
      <h1>Cloudiness</h1>
      <hr>
      <p1> As one can see from the graph, no correlation can be made between 
        cloudiness and latitude. 
      </p1>
      <img src = "/images/cloudiness.png" class="vizualization rounded float-left">
  </div>
</div>
    
    <div class="col-lg-5 col-md-12">
      <div class="box">
        <h1>Vizualizations</h1>
        <hr>

        <div class="container">
          <div class="row" style="padding-bottom: 30px;">
            <div class="col-6">
              <a href="{{ url_for('temperature') }}">
                <img class="panel" src="/images/temperature.png" alt="Max Temperature Graph">
              </a>
            </div>
            <div class="col-6">
              <a href="{{ url_for('humidity') }}">
                <img class="panel" src="/images/humidity.png" alt="Humidity Graph">
              </a>
            </div>
          </div>

          <div class="row" style="padding-bottom: 30px;">
            <div class="col-6">
              <a href="{{ url_for('cloudiness') }}">
                <img class="panel" src="/images/cloudiness.png" alt="Cloudiness Graph">
              </a>
            </div>
            <div class="col-6">
              <a href="{{ url_for('windSpeed') }}">
                <img class="panel" src="/images/windspeed.png" alt="Wind Speed Graph">
              </a>
            </div>


          </div>
        </div>
    </div>
    
</div> 
    
</div>  
</div>

</div>
</body>

<style>
body, html{
    height: 100%;
    color:silver;
}
.parallax {
    background-image: url("https://pbs.twimg.com/media/DqEXGXJWoAAHKYs?format=jpg&name=large") !important;

    height: 100%;

    min-height: 100vh;


    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


</style>
</html>