<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href= "body-styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="parallax">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Latitude</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Plots <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ url_for('temperature') }}">Max Temp</a></li>
            <li><a href="{{ url_for('humidity') }}">Humidity</a></li>
            <li><a href="{{ url_for('cloudiness') }}">Cloudiness</a></li>
            <li><a href="{{ url_for('windSpeed') }}">Wind Speed</a></li>
          </ul>
        </li>
        <li class="active"><a href="{{ url_for('comparisson') }}">Comparisson</a></li>
        <li><a href="{{ url_for('data') }}">Data</a></li>
      </ul>
    </div>
  </nav>

<div class = "container">
    <h1>Comparrsion: Latitude vs X</h1>
    <p1>Click any plot for an in depth analysis</p1>
    <hr>

    <div class = "row">
        <div class ="col-6">
            <a href ="{{ url_for('temperature') }}">
            <img src ="https://github.com/jakedcook/11_html/blob/main/11-htmlHW/templates/images/temperature.png?raw=true" alt="vs. Temperature" style="width:auto">
            </a>
        </div>

        <div class="col-6">
            <a href = "{{ url_for('humidity') }}">
                <img src="https://github.com/jakedcook/11_html/blob/main/11-htmlHW/templates/images/humidity.png?raw=true" alt="vs. Humidity" style="width:auto">
            </a>
        </div>
    </div>

    <div class = "row">
        <div class="col-6">
            <a href="{{ url_for('cloudiness') }}">
                <img src="https://github.com/jakedcook/11_html/blob/main/11-htmlHW/templates/images/cloudiness.png?raw=true" alt="vs. Cloudiness" style="width:auto">
            </a>
        </div>  
        
        <div class="col-6">
            <a href="{{ url_for('windSpeed') }}">
                <img src="https://github.com/jakedcook/11_html/blob/main/11-htmlHW/templates/images/windspeed.png?raw=true" alt="vs. Wind Speed" style="width:auto">
            </a>
        </div>
    </div>
    </div>

</div>

</div>
</body>

<style>
body, html{
    height: 100%;
    color:black;
}
.parallax {
    background-image: url("https://pbs.twimg.com/media/DqEXGXJWoAAHKYs?format=jpg&name=large") !important;

    height: auto;

    min-height: 100vh;


    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


</style>
</html>